@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto-jp: var(--font-noto-sans-jp);
}

:root {
  --background: #f8f5f0;
  --foreground: #2d2d2d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}
